<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf.Tools" version="3.31.1" manuallyInstalled="true" />
  <package id="Grpc.Core.Api" version="2.71.0" />
  <package id="Grpc.Net.Client" version="2.71.0" manuallyInstalled="true" />
  <package id="Grpc.Net.ClientFactory" version="2.71.0" manuallyInstalled="true" />
  <package id="Grpc.Net.Common" version="2.71.0" />
  <package id="Grpc.Tools" version="2.72.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.8" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>