# Unity 기본 무시 항목
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vs/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.suo

# 에셋 무시
Assets/Emerald AI/
Assets/Blendpoly Ultimate Characters - Low Poly Assets/

# 기타
.DS_Store
Thumbs.db
